@page
<!DOCTYPE html>
<html>
<head>
    <title>Temperature Test</title>
</head>
<body>
    <h1>Weather Forecast</h1>

    <ul id="forecastList"></ul>
</body>
</html>

<script src="~/js/site.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
