@page
<!DOCTYPE html>
<html>
<head>
    <title>Temperature Data</title>
</head>
<body>
    <h1>Temperature Data</h1>
    <ul id="temperature-list"></ul>
</body>
</html>
<script src="~/js/site.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

